@model IEnumerable<Entity.Concrete.Notification>

@{
    ViewData["Title"] = "NotificationList";
}
<p>
    <a class="btn-sm btn-primary" asp-controller="Notification" asp-action="Create">Yeni Ekle</a>

</p>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Bildirim Türü</th>
            <th>Detay</th>
            <th>Tarih</th>
            <th>A/P</th>
            <th>Güncelle/Detay/Sil</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NotificationID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NotificationType)
                    @*<input type="text" asp-for="@item.NotificationType" />*@
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.NotificationDetails)
                </td>
                <td>
                    @(((DateTime)item.NotificationDate).ToString("dd-MMM-yyyy"))
                </td>
                @if (item.NotificationStatus == true)
                {
                    <td> <span class="badge badge-primary">Aktif</span></td>
                }
                else
                {
                    <td> <span class="badge badge-dark">Pasif</span></td>
                }
                <td>
                    <a class="btn-sm btn-warning" asp-controller="Notification" asp-action="Edit">Güncelle</a>
                    <a class="btn-sm btn-info" asp-controller="Notification" asp-action="Details">Detay</a>
                    <a class="btn-sm btn-danger" asp-controller="Notification" asp-action="Delete">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>
